language: java
sudo: false
before_script:
  - pip install --user codecov
install: mvn install -DskipTests=true -Dgpg.skip=true -B -V
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
after_success:
  - codecov